* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #1E1E1E;
    padding: 72px 104px;
    display: grid;
    flex-direction: column;
    justify-content: center;

}

main {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    column-gap: 60px;
    row-gap: 48px;
}

h1 {
    color: #02799D;
    line-height: 73px;
    font-size: 60px;
    font-weight: 900;
}

h2 {
    line-height: 48px;
    font-size: 32px;
    margin-bottom: 62px;
    font-weight: 600;
}

h2,
h3 {
    color: #E1E1E6;
}

h3 {
    font-size: 36px;
    font-weight: 900;
    padding: 24px 32px 0;
}

p {
    color: #C4C4CC;
    font-size: 18px;
    font-weight: 600;
    padding: 24px 32px 32px;
}

.card {
    background: #202024;
    border: 2px solid #323238;
    border-radius: 8px;
    overflow: hidden;

}